section.about
    .about__item.about-img
        .about-img__legend
            span.about-img__legend--top 10+
            span.about-img__legend--bottom Років досвіду

    .about__item.about-content
        h2.title.about-content__title Про нас
        h3.subtitle.about-content__subtitle Хто ми такі?
        p.about-content__description. 
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Наш встретил решила скатился дал буквенных однажды страна там. Букв ты реторический залетают толку заглавных агентство семь рекламных над дорогу! Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Силуэт, о вскоре щеке океана единственное использовало безорфографичный ручеек своего.
        p.about-content__description. 
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. На берегу, гор возвращайся вскоре снова свою, жизни своих до что коварный пустился его. Lorem, снова? Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Толку использовало первую наш над!
       