section.contact-us
    form.contact-us__form(action="")
        h2.contact-us__title.subtitle Зв'яжіться з нами
        p.contact-us__description Залиште номер телефону, і ми зв'яжемося з вами на протязі 5 хвилин.
        input(type="text" name="nameGuest" placeholder="Ім’я").contact-us__input.input-name
        input(type="email" name="emailGuest" placeholder="E-mail").contact-us__input.input-mail
        textarea(name="messageGuest", cols="30", rows="1" placeholder="Ваше повідомлення..").contact-us__textarea.input-message
        input(type="submit" name="submit" value="Надіслати").btn.btn--submit
        