mixin navLink(link, name, classParrent)
    li(class=`${classParrent}__item`)
        a(href=link class=`${classParrent}__link`)=name

mixin svg(name)
    svg
        use(xlink:href=`/img/sprite.svg#${name}`)