include mixin
section.reviews
    .container--hero.reviews__inner
        h2.title.reviews__title Відгуки
        h3.subtitle.reviews__subtitle Що про нас говорять наші клієнти
                
        .slider

            .box1.box
                //- <div class="bg"></div>
                .reviews-slider__slide.details 
                    p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                    span.review-description__autor Елена Филонова, Львов                                
            
            .box2.box
                //- <div class="bg"></div>
                .reviews-slider__slide.details 
                    p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                    span.review-description__autor asd Филонова, Львов
                //- <div class="illustration"><div class="inner"></div></div>
            .box3.box
                //- <div class="bg"></div>
                .reviews-slider__slide.details 
                    p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                    span.review-description__autor Елена sa, Львов

            .box4.box
                //- <div class="bg"></div>
                .reviews-slider__slide.details 
                    p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                    span.review-description__autor Елена Филонова, asd                
        
        .prev
            +svg('left')
        .next
            +svg('right')
        .trail
            .box1.active
            .box2
            .box3
            .box4
