section.reviews
    .container--hero.reviews__inner
        h2.title.reviews__title Відгуки
        h3.subtitle.reviews__subtitle Що про нас говорять наші клієнти

        //- .reviews-slider
        //-     .reviews-slider--wrapper 
        //-         .reviews-slider__inner 
        //-             .reviews-slider__slide.review-description 
        //-                 p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
        //-                 span.review-description__autor Елена Филонова, Львов

        .reviews-slider
            .reviews-slider--wrapper 
                .reviews-slider__inner 
                    .reviews-slider__slide.review-description 
                        p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                        span.review-description__autor Елена Филонова, Львов
                    .reviews-slider__slide.review-description 
                        p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                        span.review-description__autor Елена Филонова, Львов
                    .reviews-slider__slide.review-description 
                        p.review-description__legend Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой текста путь несколько продолжил переписали, сих речью грамматики вершину пор осталось гор свой запятых пустился, от всех реторический заголовок они маленький последний образ инициал единственное его! Над приставка семь деревни, силуэт большого, последний напоивший заголовок рыбного свою наш даже вдали коварных? Реторический пустился инициал заголовок послушавшись свой составитель, домах великий.
                        span.review-description__autor Елена Филонова, Львов    

        .slide_buttons
