
extends layouts/base

block variables 
    - var siteTitle = 'Home';
    - var socialLinks = ['linkedin', 'facebook', 'instagram'];
    //- - var servicesItems = ['Design', 'Web-site', 'Responsive', 'Cross-browser', 'Animations', 'Lorem', 'Animations', 'Lorem'];

block content
    include layouts/header
    include layouts/main
    include layouts/footer

    script(src="./js/script.js")