@import '../helpers/var'

.hero
    width: 50%
    min-height: 100vh
    padding: 12.5% 0
    flex-direction: column
    justify-content: space-evenly

    &__title
        color: $white

    &__description
        width: 100%
        font-size: calc(1rem + 0.35vw)
        line-height: calc(1rem + 0.75vw)
        letter-spacing: 0.20000000298023224px
        text-align: justify
@media only screen and (max-width: 1366px)
    .hero
        width: 60%
