@import '../helpers/var'

.navigation
    justify-content: space-between

.navigation-menu
    display: flex
    width: 60%
    align-items: center
    justify-content: center
    margin: 0 auto

    &__inner
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between

    &__item
        display: flex
        width: 100%
        justify-content: center
        align-items: center

    &__link
        display: flex
        justify-content: center
        align-items: center
        color: $white
        padding: 0.5rem 0
        transition: $transition
        font-size: calc(1rem + 0.2vw)
        line-height: calc(1rem + 0.75vw)
        letter-spacing: 0.07em

        &:hover,
        &:active,
        &:focus
            color: $yellow
            cursor: pointer
            border-bottom: 2px solid $yellow

// @media only screen and ( max-width: 1366px)
//     .navigation-menu
        // width: 70%
