@import '../helpers/var'

.reviews
    width: 100%
    background: $gray url('../img/reviews-bg.jpg') center / cover no-repeat

    &__inner
        padding: 7.5% 0
        align-items: center
        background-color: rgba($white, 0.35)
        overflow: hidden
        position: relative

    &__title
        text-align: center

    &__subtitle
        width: 55%
        text-align: center
        color: $white

.reviews-slider
    width: 100%
    margin: 5rem auto
    margin: 0 auto
    position: relative

.review-description
    display: flex
    flex-direction: column
    width: 75%
    margin: 0 auto
    align-items: center
    justify-content: center
    // display: none    
    &__legend
        display: flex
        font-size: calc(1rem + 0.25vw)
        line-height: calc(1.25rem + 0.5vw)
        text-align: center
        align-items: center
        justify-content: center

    &__autor
        display: flex
        font-size: calc(1.25rem + 0.25vw)
        line-height: calc(1.25rem + 0.5vw)
        text-align: center
        align-items: center
        font-weight: 500
        justify-content: center
        margin: 2.5rem auto

.slider
    display: flex
    transition: all .25s ease-in
    transform: translateX(0)
    width: 400%
    margin: 2.5rem auto
    overflow: hidden
    position: relative

    .box
        height: 100%
        width: 100%
        display: grid
        align-items: center
        position: relative

        .details
            padding: 0 15%
            // z-index: 100

            h1
                font-size: 3.5rem
                font-weight: 500
                margin-bottom: .5rem

            p
                display: inline-block
                font-size: 1.3rem
                color: $black

            button
                // padding: 1rem 3rem
                color: $white
                outline: none
                border: none
                cursor: pointer
                transition: $transition

                &:hover
                    opacity: 0.8

                &:focus
                    outline: none
                    border: none

.prev,
.next,
.trail
    z-index: 10000
    position: absolute

.prev,
.next
    // background-color: $black
    width: 5rem
    height: 5rem
    cursor: pointer
    opacity: 0.2
    transition: $transition
    overflow: hidden

    &:hover
        opacity: 1

    & > svg
        fill: $white
        width: 100%
        height: 100%
        object-fit: contain
        // scale: 0.25

.prev
    top: 50%
    left: 2%
    transform: translateY(-50%)

.next
    top: 50%
    right: 2%
    transform: translateY(-50%)

.trail
    bottom: 5%
    left: 50%
    transform: translate(-50%, -100%)
    width: 30%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 1rem
    text-align: center
    font-size: 1.25rem

    div
        padding: 0.5rem
        border-top: 3px solid #fff
        cursor: pointer
        opacity: 0.3
        transition: all 0.3s ease

        &:hover
            opacity: 0.6

.active
    opacity: 1 !important
